<div [@enter] style="min-height: 100vh">
    <section [ngClass]="brandProduct?.headerBackground?brandProduct?.headerBackground:'default-bg'">
        <div class="container" style="height: 100%">
            <div class="row">
                <div class="col-12 col-lg-6 pt-4 text-start cursor-pointer" [routerLink]="'/products'">
                    <i class="cursor-pointer fa fa-arrow-left me-2" style="font-size: 25px;"></i>
                    <img height="65px" class="header-image" [src]="brandProduct?.headerImage" alt="">
                </div>
                <div class="col-12 col-lg-6 text-center pt-4 text-lg-end"
                     *ngIf="brandProduct?.routerLink!=='albrecht'">
                    <p class="header-text"
                       *ngIf="brandProduct?.headerText"
                       [ngClass]="brandProduct?.headerTitleColor">
                        {{brandProduct?.headerText}}
                    </p>
                    <p class="mb-0 header-text"
                       [ngClass]="brandProduct?.headerTitleColor"
                       *ngFor="let p of brandProduct?.headerP">
                        {{p.text}}
                    </p>
                </div>
                <div class="col-12 col-lg-6 pt-4 text-lg-start"
                     *ngIf="brandProduct?.routerLink=='albrecht'">
                    <div class="d-flex" style="justify-content: start">
                        <div style="align-self: center">
                            <p class="header-text mb-0" style="font-weight: 600; font-size: 1rem">
                                - YÜKSEK SALGI HASSASİYETİ,
                            </p>
                            <p class="header-text mb-0" style="font-weight: 600; font-size: 1rem">
                                - YÜKSEK SIKMA KUVVETLİ VE ÖZELLİKLE
                            </p>
                            <p class="header-text" style="color: #0781A8;font-weight: 600; font-size: 1rem">
                                - <u>YÜKSEK TİTREŞİM SÖNÜMLEME</u> özelliklerinin bir araya gelmesi, rakipleri ile fark
                                yaratan sonuçları vermektedir.
                            </p>
                            <p class="header-text mb-0" style="font-size: 1.1rem">
                                Bu nedenle <b>APC Hassas tutucularımız Dünya çapında en iyi performans gösteren tutucu
                                olma özelliğini taşımaktadır.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="brandProduct?.products">
        <div class="container" style="margin-top: -80px;">
            <div class="row">
                <div class="d-flex w-100 product-card"
                     [ngClass]="brandProduct?.products.length==1?'justify-content-center':''">
                    <div class="product-images text-center" *ngFor="let data of brandProduct?.products">
                        <img [src]="'assets/images/products/'+brandProduct?.routerLink+'/'+data.image"
                             class="cursor-pointer"
                             [ngClass]="brandProduct?.routerLink=='eltool'?'filter-bright':''"
                             [routerLink]="'/detail/'+data.routerLink"
                             alt="">
                        <div class="text-center my-3 text-uppercase fw-bolder"
                             style="cursor: pointer;"
                             [ngClass]="brandProduct.routerLink!=='vimaxx'?'max-width-300':''">
                            <p class="mb-0">
                                {{data.name}}
                            </p>
                            <p class="mb-0">
                                {{data.subName}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5" *ngIf="brandProduct?.routerLink=='albrecht'">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <h3 class="content-header">ALBRECHT’ TE HER ŞEY NASIL BAŞLADI?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="content-body {{brandProduct?.contentBackground}}">
                        <p>
                            Haziran 1908’de Josef Albrecht tarafından kurulan şirket küçük bir hassas mekanik atölyede delme ve frezeleme alanında metal işleme üzerine çalışmaya başladı.<br>
                            1917' yılında, daha yeni olmasına rağmen Esslingen, Stuttgart’taki ilk üretim tesisine taşındı.
                        </p>
                        <p>
                            Yapılan geliştirmeler APC Hassas tutucularımızı dünya çapında özel bir konuma getirmiştir.<br>
                            Ürünlerimiz yüksek hız, yüksek sıkma kuvveti, ve yüksek titreşim sönümleme özelliklerinin birleşimi ile takım tezgahlarının performansını arttırmakta  ve özellikle frezeleme operasyonlarını önemli ölçüde hızlandırmaktadır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="brandProduct?.products">
        <div class="container my-5">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <h3 class="content-header">{{brandProduct?.bodyHeader}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <div class="content-body {{brandProduct?.contentBackground}}">
                        <p class="text-center fw-bolder">{{brandProduct?.contentHeader}}</p>
                        <p>{{brandProduct?.contentText}}</p>
                        <p class="text-center fw-bolder">{{brandProduct?.contentHeader1}}</p>
                        <p>{{brandProduct?.contentText1}}</p>
                        <p class="mb-0 {{paragraph.class}}" *ngFor="let paragraph of brandProduct?.paragraphs">
                            {{paragraph.text}}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div *ngIf="brandProduct?.secondContentHeader || brandProduct?.secondParagraphs"
                         class="content-body {{brandProduct?.contentBackground}}">
                        <p class="text-center fw-bolder">
                            {{brandProduct?.secondContentHeader}}
                        </p>
                        <p>
                            {{brandProduct?.secondContentText}}
                        </p>
                        <p class="mb-0 {{paragraph.class}}" *ngFor="let paragraph of brandProduct?.secondParagraphs">
                            {{paragraph.text}}
                        </p>
                    </div>
                    <div *ngIf="!brandProduct?.secondContentHeader && !brandProduct?.secondParagraphs"
                         style="background-color: #BDBBB5"
                         class="content-body p-0">
                        <div class="row m-0" style="height: 100%">
                            <div class="col-12 align-self-center p-0 m-0">
                                <img src="assets/images/products/mpa/mpa.jpeg"
                                     style="border-radius: 10px"
                                     class="w-100"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
