.color-white {
  color: #ffffff !important;
}

.color-black {
  color: #000000 !important;
}

h1{
  font-size: 35px;
  font-weight: bold;
}

@media (max-width:768px) {
  h1{
    font-size: 25px;
    font-weight: bold;
  }
}

.product-images {
  &:hover {
    .ellipse-hover {
      display: initial !important;
    }
  }
}

.content-header {
  font-size: 22px;
  font-weight: 700;
}

.content-body {
  border-radius: 10px !important;
  background: rgba(255, 247, 215, 1);
  height: 100%;
  padding: 15px;
  p {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
  }
}

.ellipse-hover {
  display: none;
}

.display-initial {
  display: initial !important;
}

.btn-catalog {
  background: #F7F7F7;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
}

.btn-create {
  background: #CD171A;
  color: #fff !important;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
}


@media (max-width: 512px) {
  .product-card {
    gap: 1rem;
    z-index: 0;
    display: inherit;
    overflow: scroll;
    justify-content: start;
  }
  .header-image {
    height: 45px !important;
  }
}

@media (min-width: 512px) {
  .product-card {
    justify-content: center;
  }
}

.product-card {
  gap: 1rem;z-index: 0; align-items: end
}

.btn-white {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #fff;
  border-radius: 0;
}

.btn-outline-white {
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 0;
}
