<app-sub-header [title]="'Ürünler'"></app-sub-header>

<div class="container d-none d-lg-block">
    <div class="row" style="justify-content: center !important;">
        <div [@enter] class="col-lg-2 col-md-4 col-6 py-3 product" *ngFor="let product of products">
            <div class="product-card">
                <img [src]="'assets/images/products/'+product.img"
                     class="product-img"
                     [routerLink]="'/product/'+product.routerLink"
                     alt="">
                <img [src]="'assets/images/products/'+product.hoverImg"
                     class="product-hover-img"
                     [routerLink]="'/product/'+product.routerLink"
                     alt="">
            </div>
        </div>
    </div>

</div>

<div class="container d-block d-lg-none">
    <!-- mobil -->
    <div class="row">
        <div class="col-6 py-3 mobil-product" *ngFor="let product of products">
            <img [src]="'assets/images/products/'+product.img"
                 [routerLink]="'/product/'+product.routerLink"
                 width="100%"
                 alt="">
        </div>
    </div>
</div>
