<app-sub-header [title]="'Kurumsal'"></app-sub-header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mb-lg-0 col-lg-4 align-self-center">
                <img src="assets/images/about/about-us.png"
                     style="width: 100%"
                >
            </div>
            <div class="col-12 col-lg-8 align-self-center">
                <p>
                    1992 yılında Kennametal’in Türkiye Mümessilliğini alarak olarak kurulan firmamız, 1996 yılında Emuge Franken’in Türkiye mümessilliğini almıştır.
                    Zaman içinde bu firmaların Türkiye’de kendi organizasyonlarını kurma kararı almaları sonrasında firmamız satış stratejisini değiştirmiştir.
                </p>
                <p>
                    Günümüzde firmamız imalatçılara üretimlerinde hız kazandırmak, maliyetlerini düşürmek, ürün kalitesini arttırmak gibi kriterleri dikkate alarak konusunda uzman problem çözücü ürünlere sahip firmaların mümessillikleri ile bu ürünlerin teknik tanıtımını ve pazarlamasını yapmaktadır.
                </p>
                <p>
                    <button class="btn btn-primary" style="background-color: #1C716F"
                            (click)="openPDF()"
                    >
                       <i class="fa fa-download"></i> Genel Broşür
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>
