<app-sub-header [title]="'Kurumsal'"></app-sub-header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mb-lg-0 col-lg-4 align-self-center">
                <img src="assets/images/about/about-us.png"
                     style="width: 100%"
                >
            </div>
            <div class="col-12 col-lg-8 align-self-center">
                <p>
                    1992’de Kennametal’in Türkiye Mümessilliği olarak kurulan firmamız 1996’ya
                    kadar Kennametal’in Türkiye’de tek yetkili satıcısı olmuştur. 1996’da
                    Kennametal’in payının büyümesiyle kendi gelme kararı almıştır. 1996’da
                    Emuge Franken’in Türkiye mümessilliğini almıştır. 2010 yılında Emuge’nin Türkiye’deki
                    pazarının çok büyümesini sağlamamızdan dolayı kendisi Türkiye’ye gelme kararı almıştır.
                </p>
                <p>
                    Günümüzde firmamız problem çözücü ürünlerin ithalatını yaparak firmalara üretimlerinde hız
                    kazandırmak, maliyet düşürmek, ürün kalitesini arttırmak gibi değerleri kazandırmak amaçlı
                    ürünlerin tanıtımını ve pazarlamasını yapmaktadır.
                </p>
                <p>
                    <button class="btn btn-primary" style="background-color: #1C716F"
                            (click)="openPDF()"
                    >
                       <i class="fa fa-download"></i> Genel Broşür
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>
