<section style="border-top: 2px solid #134F4D">
    <div class="container py-4">
        <div class="row">
            <div class="col-4 align-self-center text-start">
                <img src="assets/images/svg/linkedin.svg" width="25px" alt="linkedin">
            </div>
            <div class="col-4 align-self-center text-center">
                <img width="183px" src="assets/images/logo/logo.png" alt="">
            </div>
            <div class="col-4 align-self-center text-end">
                ©2023 MEGATEK
            </div>
        </div>
    </div>
</section>
