/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif !important;
}

.albrecht-bg{
  background-color: #F7D648;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 311px;
  color: #000 !important;
  max-height: 311px;
}

.albrecht-body {
  background: rgba(255, 247, 215, 1);
}

.albrecht-detail-bg {
  background: rgba(255, 247, 215, 1)
}

.heule-body {
  background: rgba(248, 136, 138, 1);
}

.heule-bg{
  background-color: rgba(205, 23, 25, 1);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #ffffff !important;
  max-height: 230px;
}

.heule-detail-bg {
  background: rgba(253, 212, 212, 1);
}

.mpa-bg{
  background-color: #F7C421;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #000 !important;
  max-height: 230px;
}

.mpa-body {
  background: rgba(255, 247, 215, 1);
}

.mpa-detail-bg {
  background: rgba(255, 246, 217, 1);
}

.vimaxx-bg{
  background-color: #F2A674;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #006CBF !important;
  max-height: 230px;
}

.vimaxx-body {
  background: rgba(255, 222, 200, 1);
}

.vimaxx-detail-bg {
  background: rgba(255, 222, 200, 1);
}

.xebec-bg{
  background-color: #0082AC;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 311px;
  color: #fff !important;
  max-height: 311px;
}

.xebec-body {
  background: #AEE6F7;
}

.xebec-detail-bg {
  background: rgba(174, 230, 247, 1);
}

.h-bilz-bg{
  background-color: #E2E2E2;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #00537F !important;
  max-height: 230px;
}

.h-bilz-body {
  background: #E2E2E2;
}

.h-bilz-detail-bg {
  background: #E2E2E2
}

.eltool-bg{
  background-color: #2C3B9F;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #fff !important;
  max-height: 230px;
}

.eltool-body {
  background: rgba(215, 221, 251, 1);
}

.eltool-detail-bg {
  background: rgba(215, 221, 251, 1);
}

.frenco-bg{
  background-color: rgba(220, 220, 220, 1);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: rgba(0, 29, 94, 1) !important;
  max-height: 230px;
}

.frenco-body {
  background: rgba(220, 220, 220, 1);
}

.frenco-detail-bg {
  background: rgba(220, 220, 220, 1);
}

.default-bg{
  background-color: rgba(10, 179, 156, 0.51);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 230px;
  color: #fff !important;
  max-height: 230px;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
}

.carousel-indicators {
  bottom: -40px !important;
}
